{{!-- Author: Diaeddin Motan --}}


<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Adding Budget</h1>
                </div>
                <form class="user">
                  <div class="form-group">
                    <label for="budgetValue">Budget Value</label>
                    <input type="number" class="form-control form-control-user" id="budgetValue" name="budgetValue"
                      aria-describedby="budgetValue" placeholder="Enter budget value" required>
                  </div>
                  <div class="form-group">
                    <label for="recurVal">recurring time</label>
                    <input type="number" class="form-control form-control-user" id="recurVal" name="recurVal"
                      aria-describedby="recurVal" placeholder="Enter this budget for how long times (in days)" required>
                  </div>
                  <button class="btn btn-primary btn-user btn-block" type="submit" id="addBudgetBtn">Add/Edit
                    Budget</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<script src="/javascripts/budget.js"></script>